@media (max-widith: 768px) {
    body {
        font-size: 16px;
        padding: 10px;
    }

    header h1 {
        font-size: 16px;
    }

    nav ul {
        flex-direction: column;
        gap: 10px;
    }

    main {
        font-size: 16px;
        padding: 10px;
    }

    footer {
        font-size: 0.8em;
    }

    div {
        font-size: 16px;
    }
}