* {
    margin: 0px;
    padding: 0px;
}

html, body {
    min-height: 100vh;
    background-color: darkgray;
}

body {
    background-color: rgb(0, 0, 0);
    background: black url(imagens/background001\ projetocordel.jpg) no-repeat center center cover fixed;
}

header {
    color: white;
    padding: 50px;
    width: auto;
    height: auto;
    outline: 0px solid black;
}

div{
    box-shadow: inset 2px 3px 6px 4px rgba(0, 0, 0, 0.541);
}

h1 {
    font-size: 80px;
}

h2 {
    font-size: 20px;
}

.corpo {
    margin: 20px;
}

.b1 {
    background-color: white;
    padding-bottom: 20px;
    box-shadow: 2px 2px 5px grey;

}

.p1 {
    text-align: justify;
    font-size: 50px;
    line-height: 1.6;
    margin: 32px;
    display: inline-block;
}

.b2 {
    background-image: url(imagens/background001\ projetocordel.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: auto;
    height: auto;
    display: block;
}

.p2 {
    background-color: rgba(0, 0, 0, 0.3);
    background-size: cover;
    text-align: left;
    font-size: 50px;
    line-height: 1.6;
    margin: 32px;
    padding: 5px;
    display: inline-block;
    color: white;
}

.b3 {
    background-color: white;
    padding-bottom: 20px;
    box-shadow: 2px 2px 5px grey;
    text-align: top;
}

.p3 {
    text-align: justify;
        font-size: 50px;
        line-height: 1.6;
        margin: 32px;
        display: inline-block;
}

.b4 {
    background-image: url(imagens/background002projetocordel.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: auto;
    height: auto;
    display: block;
}

.p4 {
    background-color: rgba(0, 0, 0, 0.3);
    background-size: cover;
    text-align: left;
    font-size: 50px;
    line-height: 1.6;
    margin: 32px;
    padding: 5px;
    display: inline-block;
    color: white;
}

.b5 {
    background-color: white;
    padding-bottom: 20px;
    box-shadow: 2px 2px 5px grey;
    }

.p5 {
    text-align: justify;
    font-size: 50px;
    line-height: 1.6;
    margin: 32px;
    display: inline-block;
}

footer {
    color: white;
    text-align: center;
    padding: 10px;
    width: auto;
    height: auto;
    outline: 0px solid black;
}

 a:hover {
    text-decoration: underline;
}

a {
    text-decoration: none;
    color: rgb(200, 200, 200);
    font-weight: bold;
}